body {
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 1.5rem;
  font-family: 'Work Sans', sans-serif;
  background-color: #f9faf9;
  color: #28405e;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Eczar', serif;
  font-weight: 400;
}

p { margin: 0; }

ul { margin: 0; }

a {
  color: #156180;
}