body {
  padding: 16mm 10mm 16mm;
}

/* fill all printed pages with the background colour */
.page-fill {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9faf9;
  z-index: 0;
}

body * {
  position: relative;
  z-index: 1;
}

/* header ------------------------------------------------------------------- */

#header {
  font-size: 2rem;
  line-height: 1;
}

/* summary ------------------------------------------------------------------ */

#summary {
  font-size: 1.125rem;
  line-height: 1.4;
  margin: 1.25rem 0 1.75rem;
}

/* aside/experience layout -------------------------------------------------- */

#aside {
  float: left;
  width: 30%;
}

#aside {
  box-sizing: border-box;
  padding: 1rem 2rem 10rem 0;
  border-right: 1px dashed rgba(40, 64, 94, 0.35);
}

/* the first 2 roles should fit on the first page, next to the aside */
#experience-heading,
.role-section:nth-of-type(-n+2) {
  float: right;
  width: calc(70% - 1rem);
}

.page-break {
  height: 1px;
  page-break-after: always;
  clear: both;
}

/* add a heading to the second page */
.role-section:nth-of-type(4)::before {
  content: "Experience (Continued)";
  display: block;
  margin-bottom: 0.75rem;
  padding-top: 12mm;
  font-family: 'Eczar', serif;
  font-size: 1.5rem;
}

/* aside -------------------------------------------------------------------- */

#aside {
  display: flex;
  flex-direction: column;
}
#contact { order: 1; }
#education { order: 2; }
#skills { order: 3; }
#values { order: 4; }

#aside .pill-list {
  font-size: 0.75rem;
}

#contact-heading,
#education-heading,
#skills-heading,
#values-heading {
  margin: 1.5rem 0 0.5rem;
  font-size: 1.25rem;
}

#contact-heading {
  margin-top: 0;
}

/* contact section ---------------------------------------------------------- */

#contact-list {
  padding: 0;
  list-style: none;
  margin-top: 0.75rem;
}

#contact-list li {
  display: block;
}

#contact-list li {
  margin-bottom: 0.85rem;
}

#contact-list li:last-of-type {
  margin-bottom: 0;
}

#contact-list a {
  display: block;
  text-decoration: none;
}

#contact-list a:hover,
#contact-list a:focus,
#contact-list a:active {
  color: #28405e;
  text-decoration: underline;
}

/* education section -------------------------------------------------------- */

#education p {
  font-size: 0.9rem;
}

#education .program {
  font-weight: 500;
}

#education .institution,
#education .date {
  display: block;
}

/* experience section ------------------------------------------------------- */

#experience-heading {
  margin: 0.75rem 0 0;
}

/* hide related skills when printing; skills should be tailored in the
   skills section */
#experience .skills-list {
  display: none;
}

#experience .role-section {
  margin-top: 1rem;
}

#experience .role-heading {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

#experience .role-heading .role {
  display: block;
  font-size: 1.125rem;
}

#experience .role-heading .organization,
#experience .role-heading .date {
  font-family: 'Work Sans', sans-serif;
}

#experience .responsibilities-list {
  padding-left: 2.75rem;
}

#experience .responsibilities-list li{
  padding-bottom: 0.65rem;
}
